/* ---------------- Navigation Bar -----------------*/
.logo_navbar {
    font-weight: bolder;
  }
  nav {
    margin-top: 15px;
    
  }

a {
  padding-right: 50px;
}

  .nav-links {
    padding-right: 10px;
    padding-left: 10px;
  }

  h2 {
    padding-left: 100px;
  }